- name: prepare check env
  shell:
    cmd: |
        set -x
        source ${DEVSTACK_BASE_DIR}/devstack/openrc admin admin
        source ${DEVSTACK_BASE_DIR}/devstack/functions-common
        neutron_service=$(get_or_create_service "neutron" "network" "Neutron Service")
        get_or_create_endpoint $neutron_service "$REGION_NAME" "http://localhost"
        aodh_service=$(get_or_create_service "aodh" "alarming" "OpenStack Alarming Service")
        get_or_create_endpoint $aodh_service "$REGION_NAME" "http://localhost"
        mistral_service=$(get_or_create_service "mistral" "workflowv2" "Workflow Service v2")
        get_or_create_endpoint $mistral_service "$REGION_NAME" "http://localhost"
        senlin_service=$(get_or_create_service "senlin" "clustering" "Senlin Clustering Service")
        get_or_create_endpoint $senlin_service "$REGION_NAME" "http://localhost"
        monasca_service=$(get_or_create_service "monasca" "monitoring" "Monasca Monitoring Service")
        get_or_create_endpoint $monasca_service "$REGION_NAME" "http://localhost"
        zaqar_service=$(get_or_create_service "zaqar" "messaging" "Zaqar Service")
        get_or_create_endpoint $zaqar_service "$REGION_NAME" "http://localhost"
        designate_service=$(get_or_create_service "designate" "dns" "Designate DNS Service")
        get_or_create_endpoint $designate_service "$REGION_NAME" "http://localhost"
        barbican_service=$(get_or_create_service "barbican" "key-manager" "Barbican Service")
        get_or_create_endpoint $barbican_service "$REGION_NAME" "http://localhost"

        source ${DEVSTACK_BASE_DIR}/devstack/openrc demo demo
        {{ ansible_python.executable }} ${DEVSTACK_BASE_DIR}/heat-templates/tools/validate-templates ${DEVSTACK_BASE_DIR}/heat-templates
    executable: /bin/bash
  environment:
    DEVSTACK_BASE_DIR: "{{ devstack_base_dir }}"
